.add {
   background-image:url(/images/icons/add.png) !important;
}
.delete {
   background-image:url(/images/icons/delete.png) !important;
}
.edit {
   background-image:url(/images/icons/pencil.png) !important;
}
