/* 
    Document   : index_index
    Created on : 25/09/2011, 10:08:08 AM
    Author     : Sriox
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

