#layout {
    /*width: 973px;
    margin: auto;*/
}
#slot2 {
    padding-top: 5px;
}
.left-space {
    margin-left: 5px;  
}
#layout-menu {
    height: 30px;
    min-height: 30px;
}
.split-item {
    padding: 15px;
}
.add {
   background-image:url(/images/icons/add.png) !important;
}
.delete {
   background-image:url(/images/icons/delete.png) !important;
}
.edit {
   background-image:url(/images/icons/pencil.png) !important;
}
.users-admin{
    background-image:url(/images/icons/group.png) !important;
}
.user-profile {
    background-image:url(/images/icons/user.png) !important;
}
.btn-save {
    background-image:url(/images/icons/bullet_disk.png) !important;
}
.btn-cancel {
    background-image:url(/images/icons/cancel.png) !important;
}
.btn-key {
    background-image:url(/images/icons/bullet_key.png) !important;
}
.bifurc {
    background-image:url(/images/icons/arrow_divide.png) !important;
}
.sub-cat {
    background-image:url(/images/icons/sub_cat.png) !important;
}
.boxes {
    background-image:url(/images/icons/bricks.png) !important;
}
.back {
    background-image:url(/images/icons/back.png) !important;
}
.godoc {
    background-image:url(/images/icons/page_green.png) !important;
}
.puzzle {
    background-image:url(/images/icons/plugin.png) !important;
}
.car {
    background-image:url(/images/icons/car.png) !important;
}
.in {
    background-image:url(/images/icons/page_go.png) !important;
}
.align-right {
    text-align: right;    
}
.big-top-space {
    padding-top: 50px;
}
/*
* Notificaciones
*/
.ux-notification-window .x-window-body {
	text-align: center;
	padding: 15px 5px 15px 5px;
	width: 200px;
}
.ux-notification-light .x-window-header {
	background-color: transparent;
}

body .ux-notification-light {
	background-color: white;
	background-image: url('/images/fader.png');
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 18px 5px;
	width: 200px;
	background-color: transparent;
	border: 0px solid white;
}